body,
a {
    background-color: #cdcdcd;
    color: rgba(4, 2, 35, 0.626);
}


hr {
    border-style: none;
    border-top-style: dotted;
    border-color: gray;
    border-width: 5px;
    width: 4%;


}

.hobbies,
img {
    width: 250px;
    border-radious:50%;

}

img:hover {
    background-color: gold;
    

}
